/* #page
{
    width: 100%;
    height: 100%;
    border: 1px solid pink;
} */
#imgProfile
{
    width: 200px;
    height: 200px;
    border-radius: 75px;
}
#name
{
    padding-left: 100px;
}
#photo
{
    margin-top: 5%;
    
    height: 35%;
    width: 50%;
    background-color: 	#F8F8FF	;
    box-shadow: 1px 0px 13px #778899 ;
}
#butl
{
    float: left;
}
#butr
{
    float: right ;
}
#contain
{
    margin: 50px auto;
}
#biology
{
    margin-top: 5%;
    background-color: 	#F8F8FF	;
    box-shadow: 1px 0px 13px #778899 ;
}
#bio
{
    width: 40%;
    float: left;
    background-color: 	#F8F8FF	;
    box-shadow: 1px 0px 13px #778899 ;
    margin-left: 50px;
    padding-left: 1%;
}
#preference
{
    width: 50%;
    float: left;
    background-color:#F8F8FF;
    box-shadow: 1px 0px 13px #778899 ;
    margin-left: 50px;
    padding-left: 1%;
}
#contain
{
    display: table;
    clear: both;
}
#speciality
{
    background-color:#F8F8FF;
    box-shadow: 1px 0px 13px #778899 ;
    margin: 7% 20%;
    text-align: center;
}

