tr:nth-child(even)
{
    background-color: #f2f2f2;
}
body > table > tbody > tr:nth-child(2) > td:nth-child(3) > a > img
{
    border-radius: 10px;
}
#googleLogo
{
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 20px;
}
[target="_blank"]
{
    text-decoration: line-through;
}