table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
   width: 100%;
   table-layout: fixed;
}
img.cencor
{
    filter: blur(5px);

}
img.round
{
    border-radius: 10px;
}