table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
tr
{
    width: 200px;
    height: 200px;
}

table{
   width: 100%;
   table-layout: fixed;
}
img.blur
{
    filter: blur(5px);

}
img.round
{
    border-radius: 10px;
}
.synopsis
{
    color: lightgray;
    font-size: initial;
}
.button
{
    color: white;
    background-color: blue;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid darkgray;
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
}
.page
{
    width: 600px;
    margin: 100 auto;
}
a 
{
    text-decoration: none;
}
a:link
{
    color: red;
}
a:visited
{
    columns: green;
}
.button:hover
{
    color: hotpink;
    
}
.button:active
{
    color: deepskyblue;
    cursor: wait;
}
.onHover:hover{
    cursor: pointer;
}
.page:hover{
    cursor: text;
}




